@tailwind base;
@tailwind components;
@tailwind utilities;

.light{
    --text-color: black;
    --bg-color: white;
}

.dark{
    --text-color: white;
    --bg-color: black;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
  }